<html>
    <head>
        <title>koks stronka</title>
        <link rel="stylesheet" href="/static/index_style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    </head>
    <body>
        <h1>Nazwa stronki</h1>
        <p>opis fajny</p>
        <div class="container">
            <div class="steam_logo">
                <img src="/static/steam_logo.png" width="50" height="50">
            </div>
            <div class="menu_logo">
                <img src="/static/menu_logo.png" width="50" height="50">
            </div>
            <div class="obraz1">
                <img src="/static/cs.jpg">
            </div>
            <div class="obraz2">
                <img src="/static/valorant.jpg">
            </div>
            <div class="main_prostakat">
                <div class="prostokat1">
                    <a href="cs">
                        <img src="/static/cs_logo2.png">
                    </a>
                </div>
                <div class="prostokat2">
                    <a href="valorant">
                        <img src="/static/valorant_logo2.png">
                    </a>
                </div>
            </div>
        </div>
        <div class="stopka">
            <h1>fajna stpoka ;]</h1>
            <p>moze tu jakis opis tez</p>
        </div>
    </body>
</html>